*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  background-color:lavender;
}

main{
  min-width: 30vw;
  background-color: #fff;
  border-radius: 1rem;
  position: absolute;
  top: 50vh;
  left :50vw;
  transform: translate(-50%, -50%);
}
footer{
  border: 1px solid #333 ;
  border-radius :5px;
  padding: 1rem;
  position: absolute;
  bottom:0;
  width:100%
}